// ============================================================================
// Font
// Weights
// ============================================================================


/// @group Typography
/// @type  Number
$font-weight-thin: 100 !default;

/// @group Typography
/// @type  Number
$font-weight-ultra-light: 200 !default;

/// @group Typography
/// @type  Number
$font-weight-extra-light: 200 !default;

/// @group Typography
/// @type  Number
$font-weight-light: 300 !default;

/// @group Typography
/// @type  Number
$font-weight-book: 400 !default;

/// @group Typography
/// @type  Number
$font-weight-normal: 400 !default;

/// @group Typography
/// @type  Number
$font-weight-regular: 400 !default;

/// @group Typography
/// @type  Number
$font-weight-medium: 500 !default;

/// @group Typography
/// @type  Number
$font-weight-demi-bold: 600 !default;

/// @group Typography
/// @type  Number
$font-weight-semi-bold: 600 !default;

/// @group Typography
/// @type  Number
$font-weight-bold: 700 !default;

/// @group Typography
/// @type  Number
$font-weight-extra-bold: 800 !default;

/// @group Typography
/// @type  Number
$font-weight-black: 900 !default;

/// @group Typography
/// @type  Number
$font-weight-heavy: 900 !default;

/// @group Typography
/// @type  Number
$font-weight-ultra: 900 !default;

/// @group Typography
/// @type  Number
$font-weight-ultra-black: 900 !default;

/// @group Typography
/// @type  Number
$font-weight-extra-black: 1000 !default;

/// @group Typography
/// @type  Number
$font-weight-fat: 1000 !default;
