// ============================================================================
// Font
// Families
// ============================================================================

// Remember to include fallbacks:
// http://cssfontstack.com/


/// @group Typography
/// @type  String
$font-family-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;


/// @group Typography
/// @type  String
$font-family-primary-preload: "Helvetica Neue", Helvetica, Arial, sans-serif;


/// @group Typography
/// @type  String
$font-family-secondary: "Lucida Bright", Georgia, serif;

/// @group Typography
/// @type  String
$font-family-secondary-preload: "Lucida Bright", Georgia, serif;


/// @group Typography
/// @type  String
$font-family-tertiary: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

/// @group Typography
/// @type  String
$font-family-tertiary-preload: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;


/// @group Typography
/// @type  String
$font-family-code: "Consolas", "Lucida Sans Typewriter", "Lucida Console", monaco, monospace;

/// @group Typography
/// @type  String
$font-family-code-preload: "Consolas", "Lucida Sans Typewriter", "Lucida Console", monaco, monospace;
