// ============================================================================
// Meta
// ============================================================================


// Used in other Sass logic

/// @group Meta
/// @type  String
$meta-invalid-argument: " is not a valid argument. ";

/// @group Meta
/// @type  String
$meta-invalid-argument-provide: "Please provide ";

/// @group Meta
/// @type  String
$meta-invalid-argument-select-multiple: "Please select one of the following: ";

/// @group Meta
/// @type  String
$meta-invalid-argument-select-either: "Please select either: ";
