// ============================================================================
// Paths
// ============================================================================


/// @group Paths
/// @type  String
$path-to-images: "images/" !default;


/// @group Paths
/// @type  String
$path-to-fonts: "fonts/" !default;


/// @group Paths
/// @type  String
$path-to-scripts: "scripts/" !default;


/// @group Paths
/// @type  String
$path-to-static: "static/" !default;


/// @group Paths
/// @type  String
$path-to-styles: "styles/" !default;
