// ============================================================================
// Symbols
// ============================================================================


// Variables for describing commonly-used unicode symbols. Note that some
// codepoints will render as emoji on certain systems (commented examples below
// should demonstrate). Use the `unicode-symbol()` mixin for better font support
// if using a custom font.

// Also remember to check Unify for browser support:
// http://unicode.johnholtripley.co.uk/


// Arrows ----------------------------------------------------------------------
$symbol-arrow-thin-left: "\2190";        // ←
$symbol-arrow-thin-right: "\2192";       // →
$symbol-arrow-thin-up: "\2191";          // ↑
$symbol-arrow-thin-down: "\2193";        // ↓
$symbol-arrow-thin-up-left: "\2196";     // ↖
$symbol-arrow-thin-up-right: "\2197";    // ↗
$symbol-arrow-thin-down-left: "\2199";   // ↙
$symbol-arrow-thin-down-right: "\2198";  // ↘
$symbol-arrow-thick-left: "\2B05";       // ⬅
$symbol-arrow-thick-right: "\27A1";      // ➡
$symbol-arrow-thick-up: "\2B06";         // ⬆
$symbol-arrow-thick-down: "\2B07";       // ⬇
$symbol-arrow-thick-up-left: "\2B09";    // ⬉
$symbol-arrow-thick-up-right: "\2B08";   // ⬈
$symbol-arrow-thick-down-left: "\2B0B";  // ⬋
$symbol-arrow-thick-down-right: "\2B0A"; // ⬊
$symbol-arrow-point-left: "\25C4";       // ◄
$symbol-arrow-point-right: "\25BA";      // ►
$symbol-arrow-point-up: "\25B2";         // ▲
$symbol-arrow-point-down: "\25BC";       // ▼


// Asterisks ---------------------------------------------------------------------
$symbol-asterisk-heavy: "\2731";          // ✱
$symbol-asterisk-teardrop: "\273B";       // ✻
$symbol-asterisk-balloon-light: "\2722";  // ✢
$symbol-asterisk-balloon-medium: "\2723"; // ✣
$symbol-asterisk-balloon-heavy: "\2724";  // ✤


// Bullets --------------------------------------------------------------------
$symbol-bullet-small: "\00B7";  // ·
$symbol-bullet-medium: "\2022"; // •
$symbol-bullet-large: "\25CF";  // ●


// Currency --------------------------------------------------------------------
$symbol-currency-cent: "\00A2";    // ¢
$symbol-currency-dollar: "\0024";  // $
$symbol-currency-euro: "\20AC";    // €
$symbol-currency-generic: "\00A4"; // ¤
$symbol-currency-pound: "\00A3";   // £
$symbol-currency-yen: "\00A5";     // ¥


// Games ----------------------------------------------------------------------
// Cards
$symbol-cards-spade: "\2660";   // ♠
$symbol-cards-heart: "\2665";   // ♥
$symbol-cards-diamond: "\2666"; // ♦
$symbol-cards-club: "\2663";    // ♣

// Chess
$symbol-chess-black-bishop: "\265D"; // ♝
$symbol-chess-black-king: "\265A";   // ♚
$symbol-chess-black-knight: "\265E"; // ♞
$symbol-chess-black-pawn: "\265F";   // ♟
$symbol-chess-black-queen: "\265B";  // ♛
$symbol-chess-black-rook: "\265C";   // ♜
$symbol-chess-white-bishop: "\2657"; // ♗
$symbol-chess-white-king: "\2654";   // ♔
$symbol-chess-white-knight: "\2658"; // ♘
$symbol-chess-white-pawn: "\2659";   // ♙
$symbol-chess-white-queen: "\2655";  // ♕
$symbol-chess-white-rook: "\2656";   // ♖


// Quotes ---------------------------------------------------------------------
// Also see `elements/_quotes.scss`
$symbol-quote-single-opening: "\2018"; // ‘
$symbol-quote-single-closing: "\2019"; // ’
$symbol-quote-double-opening: "\201C"; // “
$symbol-quote-double-closing: "\201D"; // ”


// Typography and Dingbats ----------------------------------------------------
$symbol-asterism: "\2042";               // ⁂
$symbol-caduceus: "\2624";               // ☤
$symbol-celcius: "\2103";                // ℃
$symbol-cut-down: "\2703";               // ✃
$symbol-cut-up: "\2701";                 // ✁
$symbol-dagger-double: "\2021";          // ‡
$symbol-dagger-single: "\2020";          // †
$symbol-diamonds: "\2756";               // ❖
$symbol-ditto: "\3003";                  // 〃
$symbol-ellipsis: "\2026";               // …
$symbol-fahrenheit: "\2109";             // ℉
$symbol-fleur-de-lys: "\269C";           // ⚜
$symbol-guillemet-double-left: "\00AB";  // «
$symbol-guillemet-double-right: "\00BB"; // »
$symbol-guillemet-single-left: "\2039";  // ‹
$symbol-guillemet-single-right: "\203A"; // ›
$symbol-interrobang: "\203D";            // ‽
$symbol-manicule-full: "\261B";          // ☛
$symbol-manicule-hollow: "\261E";        // ☞
$symbol-numero: "\2116";                 // №
$symbol-paragraph: "\00B6";              // ¶
$symbol-pencil: "\270E";                 // ✎
$symbol-perscription: "\211E";           // ℞
$symbol-section: "\00A7";                // §
$symbol-skull-and-crossbones: "\2620";   // ☠
$symbol-star-circle: "\272A";            // ✪
$symbol-star-four: "\2726";              // ✦
$symbol-star-full: "\2605";              // ★
$symbol-star-hollow: "\2606";            // ☆


// Dashes ---------------------------------------------------------------------
$symbol-dash-en: "\2013";        // –
$symbol-dash-em: "\2014";        // —
$symbol-dash-figure: "\2012";    // ‒
$symbol-dash-swung: "\2053";     // ⁓
$symbol-dash-quotation: "\2015"; // ―


// Fractions ------------------------------------------------------------------
$symbol-fraction-one-half: "\00BD";       // ½
$symbol-fraction-one-quarter: "\00BC";    // ¼
$symbol-fraction-three-quarters: "\00BE"; // ¾
$symbol-fraction-one-seventh: "\2150";    // ⅐
$symbol-fraction-one-ninth: "\2151";      // ⅑
$symbol-fraction-one-tenth: "\2152";      // ⅒
$symbol-fraction-one-third: "\2153";      // ⅓
$symbol-fraction-two-thirds: "\2154";     // ⅔
$symbol-fraction-one-fifth: "\2155";      // ⅕
$symbol-fraction-two-fifths: "\2156";     // ⅖
$symbol-fraction-three-fifths: "\2157";   // ⅗
$symbol-fraction-four-fifths: "\2158";    // ⅘
$symbol-fraction-one-sixth: "\2159";      // ⅙
$symbol-fraction-five-sixths: "\215A";    // ⅚
$symbol-fraction-one-eighth: "\215B";     // ⅛
$symbol-fraction-three-eighths: "\215C";  // ⅜
$symbol-fraction-five-eighths: "\215D";   // ⅝
$symbol-fraction-seven-eighths: "\215E";  // ⅞


// Forms ----------------------------------------------------------------------
$symbol-form-check-light: "\2713"; // ✓
$symbol-form-check-heavy: "\2714"; // ✔
$symbol-form-cross-light: "\2717"; // ✗
$symbol-form-cross-heavy: "\2718"; // ✘

// Checkboxes
$symbol-form-checkbox-checked: "\2611";   // ☑
$symbol-form-checkbox-crossed: "\2612";   // ☒
$symbol-form-checkbox-unchecked: "\2610"; // ☐

// Radios
$symbol-form-radio-checked: "\25C9";   // ◉
$symbol-form-radio-unchecked: "\25CE"; // ◎


// Heart ----------------------------------------------------------------------
$symbol-heart-floral: "\2766";         // ❦
$symbol-heart-exclamation: "\2762";    // ❢
$symbol-heart-rotated: "\2765";        // ❥
$symbol-heart-floral-rotated: "\2767"; // ❧


// Intellectual Property ------------------------------------------------------
$symbol-ip-copyright: "\00A9";            // ©
$symbol-ip-registered-trademark: "\00AE"; // ®
$symbol-ip-service-mark: "\2120";         // ℠
$symbol-ip-trademark: "\2122";            // ™
$symbol-ip-sound-recording: "\2117";      // ℗


// Keyboard -------------------------------------------------------------------
$symbol-keyboard-break: "\238A";           // ⎊
$symbol-keyboard-caps-lock: "\21EA";       // ⇪
$symbol-keyboard-clear: "\2327";           // ⌧
$symbol-keyboard-command: "\2318";         // ⌘
$symbol-keyboard-control: "\2303";         // ⌃
$symbol-keyboard-cut: "\2702";             // ✂
$symbol-keyboard-delete-backward: "\232B"; // ⌫
$symbol-keyboard-delete-forward: "\2326";  // ⌦
$symbol-keyboard-eject: "\23CF";           // ⏏
$symbol-keyboard-end: "\2198";             // ↘
$symbol-keyboard-enter: "\2324";           // ⌤
$symbol-keyboard-escape: "\238B";          // ⎋
$symbol-keyboard-help: "\2370";            // ⍰
$symbol-keyboard-home: "\2196";            // ↖
$symbol-keyboard-option: "\2325";          // ⌥
$symbol-keyboard-page-down: "\21DF";       // ⇟
$symbol-keyboard-page-up: "\21DE";         // ⇞
$symbol-keyboard-pause: "\2389";           // ⎉
$symbol-keyboard-print-screen: "\2399";    // ⎙
$symbol-keyboard-redo: "\21B7";            // ↷
$symbol-keyboard-refresh: "\27F3";         // ⟳
$symbol-keyboard-reload: "\27F2";          // ⟲
$symbol-keyboard-return: "\23CE";          // ⏎
$symbol-keyboard-shift: "\21E7";           // ⇧
$symbol-keyboard-sleep: "\263E";           // ☾
$symbol-keyboard-space: "\2423";           // ␣
$symbol-keyboard-tab-backward: "\21E4";    // ⇤
$symbol-keyboard-tabforward: "\21E5";      // ⇥
$symbol-keyboard-undo: "\21B6";            // ↶


// Math -----------------------------------------------------------------------
$symbol-math-addition: "\002B";                 // +
$symbol-math-approximately-equals: "\2248";     // ≈
$symbol-math-divide: "\00F7";                   // ÷
$symbol-math-does-not-equal: "\2260";           // ≠
$symbol-math-equals: "\003D";                   // =
$symbol-math-fraction-slash: "\2215";           // ∕
$symbol-math-greater-than-or-equal-to: "\2265"; // ≥
$symbol-math-greater-than: "\003E";             // >
$symbol-math-infinity: "\221E";                 // ∞
$symbol-math-integral: "\222B";                 // ∫
$symbol-math-less-than-or-equal-to: "\2264";    // ≤
$symbol-math-less-than: "\003C";                // <
$symbol-math-minus: "\2212";                    // −
$symbol-math-multiply: "\00D7";                 // ×
$symbol-math-plus-or-minus: "\00B1";            // ±
$symbol-math-square-root: "\221A";              // √


// Music ----------------------------------------------------------------------
$symbol-music-eighth-note: "\266A";         // ♪
$symbol-music-quarter-note: "\2669";        // ♩
$symbol-music-sharp-note: "\266F";          // ♯
$symbol-music-two-eighths-note: "\266B";    // ♫
$symbol-music-two-sixteenths-note: "\266C"; // ♬


// Shapes ---------------------------------------------------------------------
$symbol-shape-circle-solid: "\25CF";    // ●
$symbol-shape-circle-hollow: "\25CB";   // ○
$symbol-shape-diamond-solid: "\25C6";   // ◆
$symbol-shape-diamond-hollow: "\25C7";  // ◇
$symbol-shape-square-solid: "\25A0";    // ■
$symbol-shape-square-hollow: "\25A1";   // □
$symbol-shape-triangle-solid: "\25B2";  // ▲
$symbol-shape-triangle-hollow: "\25B3"; // △
