// ============================================================================
// Component
// Action
// ============================================================================


@mixin component-action() {
    @include content-show-interaction(link);

    background: transparent;
    border: none;

    font-size: ms(0.7, em);
    font-weight: $font-weight-medium;
    text-decoration: none;

    .icon {
        @include component-size(ms(0.85, rem), ms(0.85, rem), null);

        margin-left: rem(5);
        position: relative;
    }
}
