// ============================================================================
// Generate
// Theme
// ============================================================================


@mixin generate-theme($theme-background, $theme-text) {
    background-color: $theme-background;

    color: $theme-text;
    fill: $theme-text;

    a,
    button {
        color: $theme-text;
    }

    .c-prompt__link {
        @include content-underline($theme-text);
    }

    .icon {
        fill: $theme-text;
    }
}
