// ============================================================================
// Typography
// Superscript
// ============================================================================


/// Generates superscript glyphs, if present.
///
/// @group Typography
///
/// @example scss
///  @include typography-superscript();
///
/// @see {mixin} typography-subscript
///
/// @link http://utility-opentype.kennethormandy.com/#sups Utility OpenType: Superscript


@mixin typography-superscript() {
    text-transform: lowercase;
    font-variant-position: super;

    @supports not (font-variant-position: sup) {
        -webkit-font-feature-settings: "sups", "sups";
        font-feature-settings: "sups", "sups";

        @supports ((-webkit-font-feature-settings: "sups") or (font-feature-settings: "sups")) {
            font-size: 1em;
            vertical-align: baseline;
        }

        @supports (overflow: -webkit-marquee) and (justify-content:inherit) {
            vertical-align: super;
        }
    }
}


// Toggles --------------------------------------------------------------------
// Enables functional class toggles. See `_config.scss`
@if $toggle-typography-superscript == true {
    .typography-superscript {
        @include typography-superscript();
    }
}
