// ============================================================================
// Colors
// ============================================================================


/// Basic, component, and subcomponent color names.
///
/// @group general
///
/// @property {Color} key - Aliases for specific colors



$colors: (

    // Base -------------------------------------------------------------------
    base: (
        type:       #111111,
        background: #ffffff
    ),


    // Links -------------------------------------------------------------------
    link: (
        base:    #0074d9,
        hover:   #7fdbff,
        focus:   #ff851b,
        active:  #ff4136,
        visited: #ae00ff,
        busy:    #dddddd
    ),


    // Themes -----------------------------------------------------------------
    // http://clrs.cc/a11y/
    t-background: (
        about:                                #111111,
        blindness:                            #f300c0,
        cataracts:                            #870f4b,
        color-blindness-blocked-visual-field: #ffffff,
        diminished-problem-solving-skills:    #dddddd,
        dyslexia:                             #ffde00,
        english-as-a-second-language:         #b300cc,
        glare-contrast-loss:                  #ff8500,
        glaucoma:                             #ff3f2c,
        hearing-loss:                         #0071dc,
        injured-hands:                        #b300cc,
        limb-loss:                            #001e40,
        low-bandwidth:                        #00FF68,
        multiple-sclerosis:                   #2dcccd,
        nearsightedness:                      #00ff68,
        nearsightedness-farsightedness:       #389a6f,
        neural-hearing-loss:                  #1fce35,
        oral-learning-disability:             #7bdbff,
        parkinsons-disease:                   #870f4b,
        quadriplegia:                         #ffde00,
        tinnitus:                             #ff8500,
        traumatic-brain-injury:               #001e40
    ),

    t-text: (
        about:                                #dddddd,
        blindness:                            #ffffff,
        cataracts:                            #00ff68,
        color-blindness-blocked-visual-field: #870f4b,
        diminished-problem-solving-skills:    #0071dc,
        dyslexia:                             #b300cc,
        english-as-a-second-language:         #ffde00,
        glare-contrast-loss:                  #001e40,
        glaucoma:                             #001e40,
        hearing-loss:                         #ffffff,
        injured-hands:                        #ffde00,
        limb-loss:                            #ff3f2c,
        low-bandwidth:                        #B300CC,
        multiple-sclerosis:                   #870f4b,
        nearsightedness:                      #870f4b,
        nearsightedness-farsightedness:       #ffffff,
        neural-hearing-loss:                  #001e40,
        oral-learning-disability:             #111111,
        parkinsons-disease:                   #ffde00,
        quadriplegia:                         #001e40,
        tinnitus:                             #870f4b,
        traumatic-brain-injury:               #f300c0
    )
);
