// ============================================================================
// Layout
// About
// ============================================================================


// Layout Logic ---------------------------------------------------------------



// Layout Styling -------------------------------------------------------------
.l-about {
    @include component-size(100vh, 100vw, 0);

    align-items: center;
    display: flex;
    justify-content: center;
}
