<section
    id="about"
    class="l-about"
    aria-labelledby="title-about"
    role="region">

    <div class="c-about">
        <h2
            id="title-about"
            class="content-hide-visually">
            About
        </h2>
        <h3 class="c-about__title">
            Inclusive Design principles to consider when making things for others to use.
        </h3>
        <p>
            These prompts are intended to help build empathy, not describe any one person's experience.
        </p>
        <p>
            Prompts can be suggested by <a rel="external noopener" href="">submitting a GitHub Issue</a>. Instructions to <a rel="external noopener"href="">reset any technology used for a prompt</a> are also available on GitHub. <a rel="external noopener" download="empathy-prompt-cards.pdf" href=""><abbr title="Portable Document Format">PDF</abbr> cards</a> and <a rel="external noopener" download="empathy-prompts.json" href="https://github.com/ericwbailey/empathy-prompts/blob/master/source/content.json"><abbr title="JavaScript Object Notation">JSON</abbr>-structured data</a> are also available.
        </p>
        <p>
            For more information about what Inclusive Design is, consult <a rel="external noopener" href="https://www.microsoft.com/en-us/design/inclusive">Microsoft’s excellent collection of resources</a>.
        </p>
        <address>
            <small>This project was made by <a rel="external me noopener" href="https://twitter.com/ericwbailey">Eric&nbsp;Bailey</a> for <a rel="external noopener" href="http://globalaccessibilityawarenessday.org/">Global Accessibility Awareness Day</a>, with (a lot of) JavaScript help from <a rel="external noopener" href="https://twitter.com/esjay/">Wayne&nbsp;Elgin</a>.</small>
        </address>
    </div>
</section>
