// ============================================================================
// Body
// ============================================================================


// [1] Ensure the page always fills at least the entire height of the viewport
body {
    min-height: 100%; // [1]
    overflow-x: hidden;

    font-size: 1em;
}
