// ============================================================================
// Component
// Action
// ============================================================================


// Component Logic ------------------------------------------------------------



// Component Styling ----------------------------------------------------------
.c-action {
    @include component-action()

    &--random {
        .icon {
            top: rem(6);
        }
    }

    &--share {
        margin-right: ms(5, rem);
    }

    &--what-is-this {
        .icon {
            top: rem(5);
        }
    }
}
