// ============================================================================
// Layout
// Nav
// ============================================================================


// Layout Logic ---------------------------------------------------------------



// Layout Styling -------------------------------------------------------------
// SEE: `_l-aside.scss`
.l-nav {
    margin: ms(2, rem) ms(0.75, rem) ms(1, rem) ms(0.75, rem);

    // Breakpoints
    @include mappy-bp(palm-medium) {
        margin: 0;
        position: absolute;
          bottom: ms(1, rem);
          right: ms(1, rem);
    }

    @include mappy-bp(palm-large) {
          right: ms(2, rem);
    }
}
