// ============================================================================
// Layout
// Nav
// ============================================================================


// Layout Logic ---------------------------------------------------------------



// Layout Styling -------------------------------------------------------------
// SEE: `_l-aside.scss`
.l-nav {
    position: absolute;
      bottom: ms(1, rem);
      right: ms(2, rem);
}
