<aside
    id="aside"
    class="l-aside"
    aria-labelledby="title-additional-info"
    role="complementary">
    <h2
        id="title-additional-info"
        class="content-hide-visually">
        Additional info
    </h2>

    <a
        class="c-action c-action--what-is-this"
        href="">
        What is this?
        <svg height="32" width="32" aria-hidden="true" viewBox="0 0 100 100" class="icon">
            <use xlink:href="#icon-info"></use>
        </svg>
    </a>
</aside>
