<aside
    id="aside"
    class="l-aside"
    aria-labelledby="title-about">

    <h2
        id="title-about"
        class="content-hide-visually">
        About
    </h2>

    <a
        class="c-action c-action--what-is-this"
        href="https://github.com/ericwbailey/empathy-prompts#readme">
        <svg height="32" width="32" aria-hidden="true" viewBox="0 0 100 100" class="icon">
            <use xlink:href="#icon-info"></use>
        </svg>
        <span class="c-action__text">What is this?</span>
    </a>
</aside>
