// ============================================================================
// Component
// Card
// ============================================================================


// Component Logic ------------------------------------------------------------



// Component Styling ----------------------------------------------------------
.c-prompt {
border-bottom: 1px solid black;
    @include component-size(100vh, 100vw, 0);

    align-items: center;
    display: flex;
    justify-content: center;

    // States
    // &:not([data-prompt="visible"]) {
    //     @include content-hide(remove);
    // }

    // Contexts
    // &[aria-labelledby="title-about"] {
    //     height: auto;
    // }

    &__content {
        margin-top: ms(1, rem);
        max-width: $global-type-measure;
        min-height: 60vh;

        // Contexts
        [aria-labelledby="title-about"] & {
            margin-top: 0;
        }
    }

    &__title {
        font-size: ms(2, em);
        line-height: 1;
    }

    &__directions {
        margin-top: ms(0.75, em);

        font-size: ms(1, em);

        // Contexts
        [aria-labelledby="title-about"] & {
            margin-top: 0;

            font-weight: $font-weight-bold;
        }
    }

    &__example {
        margin-top: ms(2.5, em);
        margin-right: ms(4, rem);

        font-size: ms(0.75, em);
        font-weight: $font-weight-medium;

        a {
            background-size: rem(30) rem(30);
            background-origin: padding-box;
            background-position: 0 45%;
            background-repeat: repeat-x;

            color: currentColor;
            text-decoration: none;
        }
    }

    &__undo {
        @include typography-tracking(slight);

        font-size: 65%;
        font-weight: $font-weight-bold;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__about {
        margin-top: ms(1.25, rem);

        font-size: ms(0.75, em);

        p {
            margin-top: ms(1, em);
        }

        a {
            // States
            &:hover {
                text-decoration: none;
            }
        }
    }
}
