<section
    id="diminished-problem-solving-skills"
    class="c-prompt"
    aria-labelledby="title-diminished-problem-solving-skills">

    <div class="c-prompt__content">
        <h2
            id="title-diminished-problem-solving-skills"
            class="c-prompt__title">
            {{{content.diminished-problem-solving-skills.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.diminished-problem-solving-skills.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/cognitive/">{{content.diminished-problem-solving-skills.type}} condition</a> like <a rel="external noopener" href="http://webaim.org/articles/cognitive/#problem">{{content.diminished-problem-solving-skills.condition}}</a>.
        </p>
    </div>
</section>
