<section
    id="head-wand"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-head-wand"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-head-wand"
            class="c-prompt__title">
            {{content.head-wand.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.head-wand.directions}}}
        </p>
        <p class="c-prompt__example">
            {{{content.head-wand.example}}}
        </p>
    </div>
</section>
