<section
    id="play-static"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-play-static"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-play-static"
            class="c-prompt__title">
            {{content.play-static.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.play-static.directions}}}
        </p>
        <p class="c-prompt__example">
            {{{content.play-static.example}}}
        </p>
    </div>
</section>
