<section
    id="oral-learning-disability"
    class="c-prompt"
    aria-labelledby="title-oral-learning-disability"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-oral-learning-disability"
            class="c-prompt__title">
            {{{content.oral-learning-disability.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.oral-learning-disability.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/cognitive/">{{content.oral-learning-disability.type}} condition</a> like an <a rel="external noopener" href="https://www.council-for-learning-disabilities.org/what-is-oral-reading-fluency-verbal-reading-proficiency">{{content.oral-learning-disability.condition}}</a>.
        </p>
    </div>
</section>
