<section
    id="loud-coffee-shop"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-loud-coffee-shop"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-loud-coffee-shop"
            class="c-prompt__title">
            {{content.loud-coffee-shop.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.loud-coffee-shop.directions}}}
        </p>
        <p class="c-prompt__example">
            {{{content.loud-coffee-shop.example}}}
        </p>
    </div>
</section>
