<section
    id="traumatic-brain-injury"
    class="c-prompt"
    aria-labelledby="title-traumatic-brain-injury">

    <div class="c-prompt__content">
        <h2
            id="title-traumatic-brain-injury"
            class="c-prompt__title">
            {{{content.traumatic-brain-injury.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.traumatic-brain-injury.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/cognitive/">{{content.traumatic-brain-injury.type}} condition</a> like a <a rel="external noopener" href="http://www.mayoclinic.org/diseases-conditions/traumatic-brain-injury/basics/definition/con-20029302">{{content.traumatic-brain-injury.condition}}</a>.
        </p>
    </div>
</section>
