<section
    id="multiple-sclerosis"
    class="c-prompt"
    aria-labelledby="title-multiple-sclerosis"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-multiple-sclerosis"
            class="c-prompt__title">
            {{{content.multiple-sclerosis.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.multiple-sclerosis.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/motor/">{{content.multiple-sclerosis.type}} condition</a> like <a rel="external noopener" href="">{{content.multiple-sclerosis.condition}}</a>.
        </p>
    </div>
</section>
