<section
    id="parkinsons-disease"
    class="c-prompt"
    aria-labelledby="title-parkinsons-disease"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-parkinsons-disease"
            class="c-prompt__title">
            {{{content.parkinsons-disease.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.parkinsons-disease.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/motor/">{{content.parkinsons-disease.type}} condition</a> like <a rel="external noopener" href="http://www.mayoclinic.org/diseases-conditions/parkinsons-disease/basics/definition/con-20028488">{{content.parkinsons-disease.condition}}</a>.
        </p>
    </div>
</section>
