<section
    id="english-as-a-second-language"
    class="c-prompt"
    aria-labelledby="title-english-as-a-second-language"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-english-as-a-second-language"
            class="c-prompt__title">
            {{{content.english-as-a-second-language.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.english-as-a-second-language.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/cognitive/">{{content.english-as-a-second-language.type}} condition</a> like <a rel="external noopener" href="">{{content.english-as-a-second-language.condition}}</a>.
        </p>
    </div>
</section>
