<section
    id="low-bandwidth"
    class="c-prompt"
    aria-labelledby="title-low-bandwidth"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-low-bandwidth"
            class="c-prompt__title">
            {{{content.low-bandwidth.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.low-bandwidth.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to use the internet in a low bandwidth situation.
        </p>
    </div>
</section>
