<section
    id="high-contrast"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-high-contrast"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-high-contrast"
            class="c-prompt__title">
            {{content.high-contrast.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.high-contrast.directions}}}
        </p>
        <p class="c-prompt__example">
            {{{content.high-contrast.example}}}
        </p>
    </div>
</section>
