<section
    id="wear-mittens"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-wear-mittens"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-wear-mittens"
            class="c-prompt__title">
            {{content.wear-mittens.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.wear-mittens.directions}}}
        </p>
        <p class="c-prompt__example">
            {{{content.wear-mittens.example}}}
        </p>
    </div>
</section>
