<section
    id="dyslexia"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-dyslexia"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-dyslexia"
            class="c-prompt__title">
            {{content.dyslexia.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.dyslexia.directions}}}
        </p>
        <p class="c-prompt__example">
            {{{content.dyslexia.example}}}
        </p>
    </div>
</section>
