<section
    id="aphasia"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-aphasia"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-aphasia"
            class="c-prompt__title">
            {{content.aphasia.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.aphasia.directions}}}
        </p>
        <p class="c-prompt__example">
            {{{content.aphasia.example}}}
        </p>
    </div>
</section>
