<section
    id="exercise-strenuously"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-exercise-strenuously"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-exercise-strenuously"
            class="c-prompt__title">
            {{content.exercise-strenuously.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.exercise-strenuously.directions}}}
        </p>
        <p class="c-prompt__example">
            {{{content.exercise-strenuously.example}}}
        </p>
    </div>
</section>
