<section
    id="injured-hands"
    class="c-prompt"
    aria-labelledby="title-injured-hands"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-injured-hands"
            class="c-prompt__title">
            {{{content.injured-hands.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.injured-hands.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/motor/">{{content.injured-hands.type}} condition</a> like {{content.injured-hands.condition}}.
        </p>
    </div>
</section>
