<section
    id="no-coffee"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-no-coffee"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-no-coffee"
            class="c-prompt__title">
            {{content.no-coffee.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.no-coffee.directions}}}
        </p>
        <p class="c-prompt__example">
            {{{content.no-coffee.example}}}
        </p>
    </div>
</section>
