<section
    id="quadriplegia"
    class="c-prompt"
    aria-labelledby="title-quadriplegia"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-quadriplegia"
            class="c-prompt__title">
            {{{content.quadriplegia.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.quadriplegia.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/motor/">{{content.quadriplegia.type}} condition</a> like <a rel="external noopener" href="">{{content.quadriplegia.condition}}</a>.
        </p>
    </div>
</section>
