<section
    id="wake-up-early"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-wake-up-early"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-wake-up-early"
            class="c-prompt__title">
            {{content.wake-up-early.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.wake-up-early.directions}}}
        </p>
        <p class="c-prompt__example">
            {{{content.wake-up-early.example}}}
        </p>
    </div>
</section>
