<section
    id="color-blindness-blocked-visual-field"
    class="c-prompt"
    aria-labelledby="title-color-blindness-blocked-visual-field"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-color-blindness-blocked-visual-field"
            class="c-prompt__title">
            {{{content.color-blindness-blocked-visual-field.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.color-blindness-blocked-visual-field.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/visual/">{{content.color-blindness-blocked-visual-field.type}} condition</a> like <a rel="external noopener" href="https://accessgarage.wordpress.com/2013/02/09/458/">{{content.color-blindness-blocked-visual-field.condition}}</a>.
        </p>
    </div>
</section>
