<section
    id="dyslexia"
    class="c-prompt"
    aria-labelledby="title-dyslexia">

    <div class="c-prompt__content">
        <h2
            id="title-dyslexia"
            class="c-prompt__title">
            {{{content.dyslexia.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.dyslexia.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/cognitive/">{{content.dyslexia.type}} condition</a> like <a rel="external noopener" href="http://www.mayoclinic.org/diseases-conditions/dyslexia/basics/definition/con-20021904">{{content.dyslexia.condition}}</a>.
        </p>
    </div>
</section>
