<section
    id="about"
    class="c-prompt"
    aria-labelledby="title-about"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-about"
            class="content-hide-visually">
            About
        </h2>
        <p class="c-prompt__directions">
            Inclusive Design principles to consider when making things for others to use.
        </p>
        <div class="c-prompt__about">
            <p>
                There are things people deal with on a daily basis that we take for granted. These prompts are intended to be anecdotes to help build empathy, not an account of an individual’s experience.
            </p>
            <p>
                For more information about what Inclusive Design is, consult <a rel="external noopener" href="https://www.microsoft.com/en-us/design/inclusive">Microsoft’s excellent collection of resources</a>.
            </p>
            <p>
                Prompts can be suggested by <a rel="external noopener" href="">submitting a GitHub Issue</a>. Instructions to <a rel="external noopener"href="">reset any technology used for a prompt</a> are also available on GitHub.
            </p>
            <p>
                <a rel="external noopener" download="empathy-prompt-cards.pdf" href=""><abbr title="Portable Document Format">PDF</abbr> cards</a> and <a rel="external noopener" download="empathy-prompts.json" href="https://github.com/ericwbailey/empathy-prompts/blob/master/source/content.json"><abbr title="JavaScript Object Notation">JSON</abbr>-structured data</a> are also available.
            </p>
        </div>
    </div>
</section>
