<section
    id="glaucoma"
    class="c-prompt"
    aria-labelledby="title-glaucoma">

    <div class="c-prompt__content">
        <h2
            id="title-glaucoma"
            class="c-prompt__title">
            {{{content.glaucoma.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.glaucoma.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/visual/">{{content.glaucoma.type}} condition</a> like <a rel="external noopener" href="http://www.mayoclinic.org/diseases-conditions/glaucoma/basics/definition/con-20024042">{{content.glaucoma.condition}}</a>.
        </p>
    </div>
</section>
