<section
    id="borrow-glasses"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-borrow-glasses"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-borrow-glasses"
            class="c-prompt__title">
            {{content.borrow-glasses.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.borrow-glasses.directions}}}
        </p>
        <p class="c-prompt__example">
            {{{content.borrow-glasses.example}}}
        </p>
    </div>
</section>
