<section
    id="uplug-mouse"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-uplug-mouse"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-uplug-mouse"
            class="c-prompt__title">
            {{content.unplug-mouse.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.unplug-mouse.directions}}} <a rel="external noopener" class="c-prompt__undo" href="">How to undo</a>
        </p>
        <p class="c-prompt__example">
            {{{content.unplug-mouse.example}}}
        </p>
    </div>
</section>
