<section
    id="brightness"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-brightness"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-brightness"
            class="c-prompt__title">
            {{content.brightness.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.brightness.directions}}} <a rel="external noopener" class="c-prompt__undo" href="">How to undo</a>
        </p>
        <p class="c-prompt__example">
            {{{content.brightness.example}}}
        </p>
    </div>
</section>
