<section
    id="mute-speaker"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-mute-speaker"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-mute-speaker"
            class="c-prompt__title">
            {{content.mute-speaker.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.mute-speaker.directions}}}
        </p>
        <p class="c-prompt__example">
            {{{content.mute-speaker.example}}}
        </p>
    </div>
</section>
