<section
    id="blindness"
    class="c-prompt"
    aria-labelledby="title-blindness">

    <div class="c-prompt__content">
        <h2
            id="title-blindness"
            class="c-prompt__title">
            {{{content.blindness.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.blindness.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/visual/">{{content.blindness.type}} condition</a> like <a rel="external noopener" href="https://medlineplus.gov/ency/article/003040.htm">{{content.blindness.condition}}</a>.
        </p>
    </div>
</section>
