<section
    id="arthritis"
    class="c-prompt"
    aria-labelledby="title-arthritis"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-arthritis"
            class="c-prompt__title">
            {{{content.arthritis.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.arthritis.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/motor/">{{content.arthritis.type}} condition</a> like {{content.arthritis.condition}}.
        </p>
    </div>
</section>
