<section
    id="dominant-hand"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-dominant-hand"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-dominant-hand"
            class="c-prompt__title">
            {{content.dominant-hand.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.dominant-hand.directions}}}
        </p>
        <p class="c-prompt__example">
            {{{content.dominant-hand.example}}}
        </p>
    </div>
</section>
