<section
    id="screen-reader"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-screen-reader"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-screen-reader"
            class="c-prompt__title">
            {{content.screen-reader.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.screen-reader.directions}}}
        </p>
        <p class="c-prompt__example">
            {{{content.screen-reader.example}}}
        </p>
    </div>
</section>
