<section
    id="zoom-out"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-zoom-out"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-zoom-out"
            class="c-prompt__title">
            {{content.zoom-out.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.zoom-out.directions}}}
        </p>
        <p class="c-prompt__example">
            {{{content.zoom-out.example}}}
        </p>
    </div>
</section>
