<section
    id="pig-latin"
    class="c-prompt"
    data-prompt
    aria-labelledby="title-pig-latin"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-pig-latin"
            class="c-prompt__title">
            {{content.pig-latin.title}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.pig-latin.directions}}}
        </p>
        <p class="c-prompt__example">
            {{{content.pig-latin.example}}}
        </p>
    </div>
</section>
