<section
    id="hearing-loss"
    class="c-prompt"
    aria-labelledby="title-hearing-loss"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-hearing-loss"
            class="c-prompt__title">
            {{{content.hearing-loss.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.hearing-loss.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/auditory/">{{content.hearing-loss.type}} condition</a> like <a rel="external noopener" href="">{{content.hearing-loss.condition}}</a>.
        </p>
    </div>
</section>
