<section
    id="radial-dysplasia"
    class="c-prompt"
    aria-labelledby="title-radial-dysplasia"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-radial-dysplasia"
            class="c-prompt__title">
            {{{content.radial-dysplasia.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.radial-dysplasia.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/motor/">{{content.radial-dysplasia.type}} condition</a> like <a rel="external noopener" href="http://www.childrenshospital.org/conditions-and-treatments/conditions/radial-club-hand/symptoms-and-causes">{{content.radial-dysplasia.condition}}</a>.
        </p>
    </div>
</section>
