<section
    id="cataracts"
    class="c-prompt"
    aria-labelledby="title-cataracts"
    role="region">

    <div class="c-prompt__content">
        <h2
            id="title-cataracts"
            class="c-prompt__title">
            {{{content.cataracts.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.cataracts.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/visual/">{{content.cataracts.type}} condition</a> like <a rel="external noopener" href="http://www.mayoclinic.org/diseases-conditions/cataracts/home/ovc-20215123">{{content.cataracts.condition}}</a>.
        </p>
    </div>
</section>
