<section
    id="nearsightedness"
    class="c-prompt"
    aria-labelledby="title-nearsightedness">

    <div class="c-prompt__content">
        <h2
            id="title-nearsightedness"
            class="c-prompt__title">
            {{{content.nearsightedness.prompt}}}
        </h2>
        <p class="c-prompt__directions">
            {{{content.nearsightedness.details}}}
        </p>
        <p class="c-prompt__example">
            This prompt helps you understand what it’s like to have a <a rel="external noopener" href="http://webaim.org/articles/visual/">{{content.nearsightedness.type}} condition</a> like <a rel="external noopener" href="http://www.allaboutvision.com/conditions/myopia.htm">{{content.nearsightedness.condition}}</a>.
        </p>
    </div>
</section>
