// ============================================================================
// Theme
// Unplug Mouse
// ============================================================================


// Theme Logic ----------------------------------------------------------------
$t-unplug-mouse-background: #7BDBFF;
$t-unplug-mouse-text: #111111;


// Theme Styling --------------------------------------------------------------
.t-unplug-mouse {
    background-color: $t-unplug-mouse-background;

    color: $t-unplug-mouse-text;
    fill: $t-unplug-mouse-text;

    a,
    button {
        color: $t-unplug-mouse-text;
    }

    .c-card__link {
        @include content-underline(#111111);
    }

    .icon {
        fill: $t-unplug-mouse-text;
    }
}
