// ============================================================================
// Themes
// ============================================================================


// Theme Logic ----------------------------------------------------------------
// Contains all the prompt names
$theme-list:
    "about",
    "aphasia",
    "borrow-glasses",
    "brightness",
    "dominant-hand",
    "dyslexia",
    "exercise-strenuously",
    "high-contrast",
    "loud-coffee-shop",
    "magnifier",
    "mute-speaker",
    "no-coffee",
    "pig-latin",
    "play-static",
    "screen-reader",
    "translate",
    "unplug-mouse",
    "wake-up-early",
    "wear-mittens";


// Iterates through each prompt name to generate a theme for it
@each $theme in $theme-list {
    .t-#{$theme} {
        background-color: c(t-background, #{$theme});

        color: c(t-text, #{$theme});
        fill: c(t-text, #{$theme});

        a,
        button {
            color: c(t-text, #{$theme});
        }

        .c-prompt__link {
            @include content-underline(c(t-text, #{$theme}));
        }

        .icon {
            fill: c(t-text, #{$theme});
        }
    }
}
