// ============================================================================
// Themes
// ============================================================================


// Theme Logic ----------------------------------------------------------------
// Contains all the prompt names
$theme-list:
    "about",
    "blindness",
    "cataracts",
    "color-blindness-blocked-visual-field",
    "diminished-problem-solving-skills",
    "dyslexia",
    "english-as-a-second-language",
    "glare-contrast-loss",
    "glaucoma",
    "hearing-loss",
    "limb-loss",
    "multiple-sclerosis",
    "nearsightedness",
    "nearsightedness-farsightedness",
    "neural-hearing-loss",
    "oral-learning-disability",
    "quadriplegia",
    "tinnitus",
    "traumatic-brain-injury",
    "foo",
    "bar";


// Iterates through each prompt name to generate a theme for it
@each $theme in $theme-list {
    .t-#{$theme} {
        background-color: c(t-background, #{$theme});

        color: c(t-text, #{$theme});
        fill: c(t-text, #{$theme});

        // Media Queries
        // @media (prefers-reduced-motion) {
        //     .t-#{$theme} {
        //         transition: none;
        //     }
        // }

        a,
        button {
            color: c(t-text, #{$theme});
        }

        .c-prompt__example {
            a {
                @include content-underline(c(t-text, #{$theme}));
            }
        }

        .icon {
            fill: c(t-text, #{$theme});
        }
    }
}
