// ============================================================================
// Icons
// ============================================================================


.icon-sprite {
    height: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 0;
}


[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    height: 1em;
    width: 1em;

    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
}
