// ============================================================================
// Lists
// ============================================================================


// Grouped Styles -------------------------------------------------------------
ul,
dl,
ol {

    li {

    }
}


ul,
ol {

    li {
        margin-left: ms(1, em);
    }
}


// Individual Styles ----------------------------------------------------------
// Better control over unordered lists
ul {
    li {
        &::before {
            @include generate-unicode-symbol($symbol-shape-circle-solid);
            @include typography-align(center);

            display: inline-block;
            margin-right: ms(0.25, em);
            position: relative;
              bottom: em(1);
            width: 1em;
        }

        li {
            &::before {
                @include generate-unicode-symbol($symbol-shape-circle-hollow);
            }
        }
    }
}


dl {
    dt {

    }
}


ol {
    li {

    }
}
