<!-- #section-skipnav -->
<ul
    id="section-skipnav"
    class="c-skipnav"
    aria-label="Skipnav"
    role="navigation">

    <li class="c-skipnav__item">
        <a
            class="c-skipnav__link"
            href="mailto:$$projectAuthorEmail?subject=Accessibility Feedback">
            Accessibility Feedback
        </a>
    </li>

</ul>
