<section
    id="uplug-mouse"
    class="c-card t-unplug-mouse"
    data-card
    aria-labelledby="title-uplug-mouse"
    role="region">

    <div class="c-card__content">
        <h2
            id="title-uplug-mouse"
            class="c-card__title">
            {{content.unplug-mouse.title}}
        </h2>
        <p class="c-card__directions">
            {{content.unplug-mouse.directions}}
        </p>
        <p class="c-card__example">
            This prompt helps you understand what it’s like to have a a <a rel="external noopener" class="c-card__link" href="">motor disability</a> condition like <a rel="external noopener" class="c-card__link" href="">Parkinson’s</a>.
        </p>
    </div>
</section>
