// ============================================================================
// Component
// About
// ============================================================================


// Component Logic ------------------------------------------------------------



// Component Styling ----------------------------------------------------------
.c-about {
    margin-top: ms(4, rem);
    max-width: $global-type-measure;

    &__title {
        line-height: 1.1;
    }

    p {
        margin-top: ms(1.25, em);
    }
}
