// ============================================================================
// Project Toggles
// ============================================================================


// Set variables to `true` to generate functional classes as needed. Unlike
// their source @mixins, generated classes will be added to `main.css`
// regardless of whether or not they're declared in the HTML.

// Component
$toggle-component-align-float-start: false;
$toggle-component-align-float-end: false;
$toggle-component-align-float-center: false;
$toggle-component-align-flex-start: false;
$toggle-component-align-flex-end: false;
$toggle-component-align-flex-center: false;
$toggle-component-centerize: false;
$toggle-component-remove-list-formatting: false;
$toggle-component-remove-margin-padding: false;
$toggle-component-responsify: false;
$toggle-component-set-type-size: false;
$toggle-component-style-reset: false;

// Content
$toggle-content-clearfix-add: false;
$toggle-content-clearfix-remove: false;
$toggle-content-delobotomize: true;
$toggle-content-hide-visually: true;
$toggle-content-hide-invisible: false;
$toggle-content-hide-remove: false;
$toggle-content-no-select: false;
$toggle-content-remove-interaction: false;
$toggle-content-shift-click: false;
$toggle-content-show-visually: false;
$toggle-content-show-visually: false;
$toggle-content-show-interaction-link: false;
$toggle-content-show-interaction-input: false;
$toggle-content-show-invisible: false;
$toggle-content-show-removed: false;
$toggle-content-text-truncate: false;

// Typography
$toggle-generate-pause: true;

// Typography
$toggle-typography-align-ltr: false;
$toggle-typography-align-rtl: false;
$toggle-typography-alternates-contextual: false;
$toggle-typography-alternates-historical: false;
$toggle-typography-alternates-titling: false;
$toggle-typography-caps-to-small-caps: false;
$toggle-typography-case-sensitive-forms: false;
$toggle-typography-direction-ltr: false;
$toggle-typography-direction-rtl: false;
$toggle-typography-disable-opentype: false;
$toggle-typography-hyphenation-add: false;
$toggle-typography-hyphenation-remove: false;
$toggle-typography-kerning: false;
$toggle-typography-ligatures-common: false;
$toggle-typography-ligatures-discretionary: false;
$toggle-typography-measure: true;
$toggle-typography-numbers-fractions-diagonal: false;
$toggle-typography-numbers-fractions-stacked: false;
$toggle-typography-numbers-lining: false;
$toggle-typography-numbers-oldstyle: false;
$toggle-typography-numbers-proportional: false;
$toggle-typography-numbers-proportional-lining: false;
$toggle-typography-numbers-proportional-oldstyle: false;
$toggle-typography-numbers-tabular-lining: false;
$toggle-typography-numbers-tabular-oldstyle: false;
$toggle-typography-numbers-tabular: false;
$toggle-typography-ordinals: false;
$toggle-typography-scientific-inferiors: false;
$toggle-typography-small-caps: false;
$toggle-typography-smoothing-none: false;
$toggle-typography-smoothing-light-on-dark: false;
$toggle-typography-smoothing-dark-on-light: false;
$toggle-typography-stylistic-set-01: false;
$toggle-typography-stylistic-set-02: false;
$toggle-typography-stylistic-set-03: false;
$toggle-typography-stylistic-set-04: false;
$toggle-typography-stylistic-set-05: false;
$toggle-typography-stylistic-set-06: false;
$toggle-typography-stylistic-set-07: false;
$toggle-typography-stylistic-set-08: false;
$toggle-typography-stylistic-set-09: false;
$toggle-typography-stylistic-set-10: false;
$toggle-typography-stylistic-set-11: false;
$toggle-typography-stylistic-set-12: false;
$toggle-typography-stylistic-set-13: false;
$toggle-typography-stylistic-set-14: false;
$toggle-typography-stylistic-set-15: false;
$toggle-typography-stylistic-set-16: false;
$toggle-typography-stylistic-set-17: false;
$toggle-typography-stylistic-set-18: false;
$toggle-typography-stylistic-set-19: false;
$toggle-typography-stylistic-set-20: false;
$toggle-typography-subscript: false;
$toggle-typography-superscript: false;
$toggle-typography-swash-1: false;
$toggle-typography-swash-2: false;
$toggle-typography-swash-3: false;
$toggle-typography-tracking-tightest: false;
$toggle-typography-tracking-tighter: false;
$toggle-typography-tracking-tight: false;
$toggle-typography-tracking-slight: false;
$toggle-typography-tracking-loose: false;
$toggle-typography-tracking-looser: false;
$toggle-typography-tracking-loosest: false;

// Quotes
$toggle-quotes-french: false;
$toggle-quotes-german: false;
$toggle-quotes-italian: false;
$toggle-quotes-indonesian: false;
$toggle-quotes-japanese: false;
$toggle-quotes-korean: false;
$toggle-quotes-chinese: false;
$toggle-quotes-portuguese: false;
$toggle-quotes-russian: false;
$toggle-quotes-spanish: false;
$toggle-quotes-turkish: false;
$toggle-quotes-vietnamese: false;

// Tables
$toggle-table-col-width-05: false;
$toggle-table-col-width-10: false;
$toggle-table-col-width-12: false;
$toggle-table-col-width-15: false;
$toggle-table-col-width-20: false;
$toggle-table-col-width-25: false;
$toggle-table-col-width-30: false;
$toggle-table-col-width-33: false;
$toggle-table-col-width-35: false;
$toggle-table-col-width-37: false;
$toggle-table-col-width-40: false;
$toggle-table-col-width-45: false;
$toggle-table-col-width-50: false;
$toggle-table-col-width-55: false;
$toggle-table-col-width-60: false;
$toggle-table-col-width-62: false;
$toggle-table-col-width-65: false;
$toggle-table-col-width-66: false;
$toggle-table-col-width-70: false;
$toggle-table-col-width-75: false;
$toggle-table-col-width-80: false;
$toggle-table-col-width-85: false;
$toggle-table-col-width-67: false;
$toggle-table-col-width-90: false;
$toggle-table-col-width-95: false;
$toggle-table-col-align-text: false;
$toggle-table-col-align-image: false;
$toggle-table-col-align-number: false;
$toggle-table-row-align-top: false;
$toggle-table-row-align-middle: false;
$toggle-table-row-align-bottom: false;
