<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>Empathy Prompts</title>
{{>meta/description/description}}
{{>meta/description/author}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/facebook}}
{{>meta/social-media/twitter}}
{{>meta/social-media/google-plus}}

<link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700" rel="stylesheet">

</head>
<body class="t-dominant-hand">

<!-- Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>

<main
    id="main"
    class="l-main"
    aria-labelledby="title-home"
    role="main">

    <h1
        id="title-home"
        class="content-hide-visually">
        Empathy Prompts
    </h1>

    {{>components/c-prompt/c-prompt-aphasia}}
    {{>components/c-prompt/c-prompt-borrow-glasses}}
    {{>components/c-prompt/c-prompt-brightness}}
    {{>components/c-prompt/c-prompt-dyslexia}}
    {{>components/c-prompt/c-prompt-dominant-hand}}
    {{>components/c-prompt/c-prompt-exercise-strenuously}}
    {{>components/c-prompt/c-prompt-head-wand}}
    {{>components/c-prompt/c-prompt-high-contrast}}
    {{>components/c-prompt/c-prompt-loud-coffee-shop}}
    {{>components/c-prompt/c-prompt-magnifier}}
    {{>components/c-prompt/c-prompt-mute-speaker}}
    {{>components/c-prompt/c-prompt-no-coffee}}
    {{>components/c-prompt/c-prompt-play-static}}
    {{>components/c-prompt/c-prompt-pig-latin}}
    {{>components/c-prompt/c-prompt-screen-reader}}
    {{>components/c-prompt/c-prompt-translate}}
    {{>components/c-prompt/c-prompt-unplug-mouse}}
    {{>components/c-prompt/c-prompt-wake-up-early}}
    {{>components/c-prompt/c-prompt-wear-mittens}}
    {{>components/c-prompt/c-prompt-zoom-out}}
    {{>components/c-prompt/c-prompt-about}}

</main>

{{>layout/l-aside/l-aside}}
{{>layout/l-nav/l-nav}}

{{>meta/scripts/main}}
{{>meta/analytics/google-analytics}}

</body>
</html>
