<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>Empathy Prompts</title>
{{>meta/description/description}}
{{>meta/description/author}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/twitter}}
{{>meta/social-media/facebook}}
{{>meta/social-media/google-plus}}

{{>meta/platform/apple}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" charset="utf-8"></script>
{{>meta/scripts/type}}

</head>
<body>

<!-- Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>

<main
    id="main"
    class="l-main"
    aria-labelledby="title-home"
    role="main">

    <h1
        id="title-home"
        class="content-hide-visually">
        Empathy Prompts
    </h1>

    {{>components/c-prompt/c-prompt-arthritis}}
    {{>components/c-prompt/c-prompt-blindness}}
    {{>components/c-prompt/c-prompt-cataracts}}
    {{>components/c-prompt/c-prompt-color-blindness-blocked-visual-field}}
    {{>components/c-prompt/c-prompt-contrast-loss}}
    {{>components/c-prompt/c-prompt-diminished-problem-solving-skills}}
    {{>components/c-prompt/c-prompt-dyslexia}}
    {{>components/c-prompt/c-prompt-english-as-a-second-language}}
    {{>components/c-prompt/c-prompt-glare}}
    {{>components/c-prompt/c-prompt-glaucoma}}
    {{>components/c-prompt/c-prompt-hearing-loss}}
    {{>components/c-prompt/c-prompt-limb-loss}}
    {{>components/c-prompt/c-prompt-low-bandwidth}}
    {{>components/c-prompt/c-prompt-multiple-sclerosis}}
    {{>components/c-prompt/c-prompt-nearsightedness-farsightedness}}
    {{>components/c-prompt/c-prompt-nearsightedness}}
    {{>components/c-prompt/c-prompt-neural-hearing-loss}}
    {{>components/c-prompt/c-prompt-oral-learning-disability}}
    {{>components/c-prompt/c-prompt-parkinsons-disease}}
    {{>components/c-prompt/c-prompt-quadriplegia}}
    {{>components/c-prompt/c-prompt-tinnitus}}
    {{>components/c-prompt/c-prompt-traumatic-brain-injury}}
    {{>components/c-prompt/c-prompt-vertigo}}
</main>

{{>layout/l-aside/l-aside}}
{{>layout/l-nav/l-nav}}

{{>meta/scripts/main}}
<!-- {{>meta/scripts/service-worker}} -->

</body>
</html>
